.form-container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.field-container {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    font-size: 1.5em;
    font-family: "Arial", serif;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #524094;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #562A83;
}
